yfinance
pandas
tabulate
lxml
requests
html5lib
tqdm
streamlit
plotly
fpdf
kaleido
nltk
tenacity
pydantic
peewee
pandas-ta
numpy
scipy
pytest
frozendict
certifi
charset-normalizer
colorama
curl-cffi
python-dateutil
idna
multitasking
platformdirs
pycparser
pytz
six
soupsieve
typing-extensions
tzdata
urllib3
webencodings
websockets
